<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carousel / Slider con Glider.js</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
	
</head>
<body>
    

	<div id="fondo" >

		<main class="contenido-principal">
			<img src="../../assets\equipo.png" class="contenido-principal__imagen">
			<div class="contenido-principal__contenedor">
				<h1 class="contenido-principal__titulo"><b>Nuestro equipo de trabajo</b></h1>
				<div class="contenido-principal__resumen">
				<h1>A continuación, se presenta nuestro equipo de trabajo así como los puestos y redes sociales de nuestra empresa,
					 esto para que conozcan más de los proyectos y servicios que ofrecemos.  </h1>
				</div>
			</div>
		</main>

		
		<br><br><br>
		

		<div class=" elementos">
			<table class="tabla">
				<tr>
					<td>
						<div class="JOVIS">
							<h3>JOVANA ESCOBAR GARCIA</h3>
							<p>Desarrolladora de Software <br> y <br> Gestora de base de datos</p>
							<a href="https://www.facebook.com/jovanna.escobargarcia/about">
								<img class="zoom_JOVIS" src="../../assets\jovis.jpeg"  width="250" height="300" >
							</a>
						</div>
					</td>
				
					
					<td>
						<div class="CHARLY">
							<h3>LUIS CARLOS NARANJO ACEVEDO</h3>
							<p>Desarrollador de Web<br>y<br>Inteligencia Artificial</p>
							<a href="https://www.facebook.com/luiscarlos.naranjoacevedo.9">
								<img class="zoom_CHARLY" src="../../assets\charly.jpeg" width="250" height="300">
							</a>
						</div> 
					</td>
				
					<td>
						<div class="JOHN">
							<h3>JONATHAN MANUEL CARDONA BECERRA</h3>
							<P>Desarrollador de Apps Moviles<br> y <br> Paginas Web</P>
							<a href="https://www.facebook.com/john.becerra.526">
								<img class="zoom_JOHN" src="../../assets\john.jpeg"  width="250" height="300" >
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		


		
		
		<br><br><br>
		
		
		
		<br><br><br>
		
		
		
	
		<div class="social">
			<ul>
				<li>
					<a class="icon-facebook" href="https://www.facebook.com/ExpoCIHAC/" target="_blank">
						<img src="../../assets\fb.png" class="facebook" >
					</a>
				</li>
				<li>
					<a class="icon-twitter" href="https://twitter.com/Expocihac" target="_blank">
						<img src="../../assets\tw.png" class="tw" >
					</a>
				</li>
				<li>
					<a class="icon-instagram" href="https://www.instagram.com/expocihac/" target="_blank">
						<img src="../../assets\ins.png" class="ins" >
					</a>
				</li>
				
	
			</ul>
		</div>
		
		</div>
		
	
	

    
</body>
</html>

