<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carousel / Slider con Glider.js</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
	
</head>
<body>
    
		

    <div>

        
        <!-----------------------------------UNO----------------------------------------------->
        <main class="contenido-principal">
			<div class="contenido-principal__contenedor">
				<h1 class="contenido-principal__titulo"><b>Manejo de la cafetería</b></h1>
				<div class="contenido-principal__resumen">
				<h1>En ésta parte de la página, puedes ver y modificar el estado de los sensores y/o dispositivos conectados a la 
                    cafetería, además de que también cuentas con un contador de cuántos dispositivos están encendidos al momento.</h1>
				</div>
			</div>
		</main>

        <div class="tabla">
            <div class="tabla">
                <table class="tabla">
                    <tbody>
                        <tr>
                            <th><h3>Sensores</h3></th>
                            <th><h3></h3></th>
                            <th><h3></h3></th>
                        </tr>
                        <tr>
                            <td><h4>Focos</h4></td>
                            <td class="estado">
                                <img *ngIf="foco1" src="../../assets\FDespierto.png" (click)="cambiarEstadoFoco()">
                                <img *ngIf="!foco1" src="../../assets\Fdormido.png" (click)="cambiarEstadoFoco()">
                            </td>
                            <td class="estado">
                                <img *ngIf="foco2" src="../../assets\FDespierto.png" (click)="cambiarEstadoFoco2()">
                                <img *ngIf="!foco2" src="../../assets\Fdormido.png" (click)="cambiarEstadoFoco2()">
                            </td>
                            <td class="estado">
                                <img *ngIf="foco3" src="../../assets\FDespierto.png" (click)="cambiarEstadoFoco3()">
                                <img *ngIf="!foco3" src="../../assets\Fdormido.png" (click)="cambiarEstadoFoco3()">
                            </td>
                            <td class="estado">
                                <img *ngIf="foco4" src="../../assets\FDespierto.png" (click)="cambiarEstadoFoco4()">
                                <img *ngIf="!foco4" src="../../assets\Fdormido.png" (click)="cambiarEstadoFoco4()">
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Ventiladores</h4></td>
                            <td class="estado">
                                <img *ngIf="vent" src="../../assets\VDespierto.png" (click)="cambiarEstadoV()">
                                <img *ngIf="!vent" src="../../assets\VDormido.png" (click)="cambiarEstadoV()">
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Puertas</h4></td>
                            <td class="estado">
                                <img *ngIf="puerta" src="../../assets\PDespierta.png" (click)="cambiarEstadoP()">
                                <img *ngIf="!puerta" src="../../assets\PDormida.png" (click)="cambiarEstadoP()">
                            </td>
                            <td class="estado">
                                <img *ngIf="puerta2" src="../../assets\PDespierta.png" (click)="cambiarEstadoP2()">
                                <img *ngIf="!puerta2" src="../../assets\PDormida.png" (click)="cambiarEstadoP2()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            
    
    
            
        </div>
        

        <section class="sec">
            <!-----------------------------------TRES----------------------------------------------->
            <div class="tres">
                <div class="plano">
                    <br>
                    <br>
                    <br>
                    <h2>Planos del primer piso</h2>
                    <table _ngcontent-mps-c21="" class="plano">
                        <tr _ngcontent-mps-c21="">
                        
                            <td >
                                <img *ngIf="foco1" src="../../assets\FE.png">
                                <img *ngIf="!foco1" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21="" class="c12"><img src="../../assets\12.png"></td>
                            <td _ngcontent-mps-c21="" class="c13"><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21="" class="c14">
                                <img *ngIf="!puerta2" src="../../assets\derecha.png">
                                <img *ngIf="puerta2" src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21="" class="c15">
                                <img *ngIf="!puerta2" src="../../assets\CIzq.png">
                                <img *ngIf="puerta2" src="../../assets\solo.png">
                            </td>
                            <td _ngcontent-mps-c21="" class="c16"><img src="../../assets\solo.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\abajo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\abajo.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco2" src="../../assets\Fabajo.png">
                                <img *ngIf="!foco2" src="../../assets\FAabajo.png">
                            </td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\12.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\mesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="vent" src="../../assets\VE.png">
                                <img *ngIf="!vent" src="../../assets\VA.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\mesa.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco3" src="../../assets\FE.png">
                                <img *ngIf="!foco3" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21=""><p _ngcontent-mps-c21="">
                                <img *ngIf="foco3" src="../../assets\FE.png">
                                <img *ngIf="!foco3" src="../../assets\FA.png"></p></td>
                            <td _ngcontent-mps-c21=""><p _ngcontent-mps-c21="">
                                <img *ngIf="foco3" src="../../assets\FE.png">
                                <img *ngIf="!foco3" src="../../assets\FA.png"></p></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="!puerta" src="../../assets\Cab.png">
                                <img *ngIf="puerta" src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\mesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\solo.png"></td>
                        </tr>
                    </table>
        
                </div>
            </div>


            <!-----------------------------------cuatro----------------------------------------------->
            <div class="cuatro">
                <div class="plano">
                    <br>
                    <br>
                    <br>
                    <h2>Planos del segundo piso</h2>
                    <table _ngcontent-mps-c21="" class="plano">
                        <tr _ngcontent-mps-c21="">
                        
                            <td >
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21="" class="c12"><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21="" class="c13"><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21="" class="c14">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            <td _ngcontent-mps-c21="" class="c15"><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21="" class="c16">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                        </tr>
                        <tr _ngcontent-mps-c21="">
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\pisoMesa.png"></td>
                            <td _ngcontent-mps-c21=""><img src="../../assets\piso.png"></td>
                            <td _ngcontent-mps-c21="">
                                <img *ngIf="foco4" src="../../assets\FE.png">
                                <img *ngIf="!foco4" src="../../assets\FA.png">
                            </td>
                        </tr>
                    </table>
        
                </div>
            </div>
        </section>


        <!-----------------------------------DOS----------------------------------------------->

        <div class="dos">
            <table>
                <tr>
                    <td>

                        <div class="con2">
                            <!--<app-foco></app-foco>-->
                            <app-foco></app-foco>
                        </div>
                    </td>
                    <td>

                        <div class="con2">
                            <!--<app-ventilador></app-ventilador>-->
                            <app-ventilador></app-ventilador>
                        </div>
                    </td>
                    <td>

                        <div class="con2">
                            <!--<app-puerta></app-puerta>-->
                            <app-puerta></app-puerta>
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>

        </div>
        

    </div>


		
	
	

    
</body>
</html>